
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- form Start-->

@using (Html.BeginForm("Grid", "Create", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4> <span class="glyphicon glyphicon-plus-sign"></span><b> Create New Grid Locations</b></h4>
    <hr />
}

